Options -Indexes
RewriteEngine on
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.seriefilos.ajwebdev.com/$1 [R=301,L]
ErrorDocument 404 /src/error/404.php

#Entrada catalogo
#salida catalogo.php
RewriteRule ^index$ index.php
RewriteRule ^login$ src/login.php

RewriteRule ^catalogo$ src/page/catalogo.php
RewriteRule ^agregar$ src/page/agregar.php
RewriteRule ^contacto$ src/page/contacto.php
RewriteRule ^perfil$ src/page/perfil.php
RewriteRule ^signup$ src/page/signup.php
RewriteRule ^logout$ src/page/logout.php
RewriteRule ^reset$ src/page/reset.php

RewriteRule ^404$ src/error/404.php

RewriteRule ^series/(\d+)/?$ src/page/series.php?id=$1
RewriteRule ^editar/(\d+)/?$ src/page/editar.php?id=$1
RewriteRule ^catalogo/pg/(\d+)/?$ src/page/catalogo.php?pg=$1

RewriteRule ^publico/(\w+)/?$ src/page/publico.php?usuario=$1
RewriteRule ^publico/(\w+)/(\d+)/?$ src/page/publico.php?usuario=$1&pg=$2
