@import "master.sass";
@keyframes agrandar{
  0%{
    height:50%;
  }
  50%{
    height: 70%;
  }
  100%{
    height: 100%;
    }

}
@keyframes girar{
  0%{
    transform: rotate(360deg);
  }
  50%{
    transform: rotate(720deg);
  }
  100%{
    transform: rotate(1080deg);
  }

}
div.disabled{
  display: none;
}



/* Movil */
@media  screen  and (max-width:$web_mobile_medium) {
  main.contenido{
    div.c-serie{
      margin: 1em 0;
      display: flex;
      flex-direction: column;
      padding: 0 1em;
      div.trailer{
        display: flex;
        justify-content: center;
        iframe{
        align-self: center;
        }
      }
      nav.c-navegacion{
        display:inline-flex;
        flex-direction: row;
        font-family: $texto;
        font-size: .7em;
        ul{
          padding: 0;
          margin: 0;
          list-style-type: none;
          overflow: left;
          li{
            float: left;
            color: $enlaces;
            padding: .4em .5em;


            & span::before{
              content: fa-content($fa-var-angle-left);
            }
            a{
              text-decoration: none;
              color: $enlaces;
            }
          }
        }
      }

      article.serie{
        display: flex;
        flex-direction: column;
        padding: 10px 16px;
        // background: #ebedee;
        border-radius: 4px 4px 4px 4px;
        justify-content: center;
        img{
          max-width: 100%;
          align-self: center;
          width: 250px;
          border-radius: 8px 8px 8px 8px;
        }
        h1{
          text-align: center;
          font-family: $titulo;
        }
        p{
          text-align: left;
          font-family: $texto;
          font-size: .8em;

        }
        div.info{
          display: flex;
          flex-direction: row;
          justify-content: center;
          font-size: .8em;
          p{
            display: block;
            padding: 1em;
          }
          span{
            font-weight: bold;
          }
        }
        div.redes{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
        div.c-puntuacion{
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 1em 0;


          button.thumbup{
            border: 1px solid #d8ded9;
            padding: 8px 16px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;
            margin: 0 1em;

            span::before{
              content: fa-content($fa-var-thumbs-up);
              font-size: 1.5em;
            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
          div.punto{
            border: 1px solid $hover;
            border-radius: 4px 4px 4px 4px;
            padding: 0 16px;

            cursor: default;
            p{
              font-size: 1em;
              font-family: $texto;
              font-weight: bold;
            }
          }
          button.thumbdown{
            border: 1px solid #d8ded9;
            padding: 8px 16px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;
            margin: 0 1em;

            span::before{
              content: fa-content($fa-var-thumbs-down);
              font-size: 1.5em;

            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }

        }
      }
      div.c-comentar{
        display: flex;
        flex-direction: column;
        div.comentar{
          width: 100%;
          display: flex;
          margin: 1em 0;

          textarea{
            resize: none;
            width: 100%;
            height: 20px;
            border: none;
            border-bottom: 2px solid #d8ded9;
            @include font-title($texto,.8em);
          }
          textarea.activa{
            animation:agrandar 1s;
            height: 100%;
            padding: .8em;
            border-bottom: 2px solid $hover;

          }

        }
        div.c-enviar{
          display: inline-flex;
          justify-content: end;

          button#cancelar{
            border: 1px solid #d8ded9;
            padding: 8px 6px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;
            margin-right: 1em;

            span::before{
              content: fa-content($fa-var-redo-alt);
            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
          button#comment{
            border: 1px solid #d8ded9;
            padding: 8px 6px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;

            span::before{
              content: fa-content($fa-var-paper-plane);
            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
        }
      }
      div.c-comentarios{
        display: flex;
        flex-direction: column;
        margin: 1em auto;
        width: 100%;
        h2{
          font-size: 2em;
          align-self: center;
          font-family: $titulo;
        }
        div.loading{
          align-self: center;
          animation: girar 2s infinite;
          span.fa-pulse::before{
            content: fa-content($fa-var-spinner);
            font-size: 2em;
          }

        }
        p{
          align-self: center;
          @include font-title($texto,1.2em);
        }
        div.c-comentario{
          width: 100%;
          display: flex;
          margin: .8em auto;
          justify-content: center;
          border-radius: 8px 8px 8px 8px;

          div.c-usuario{
            display: flex;
            flex-direction: column;
            padding: .5em;
            img{
              width: 64px;
              border-radius: 50%;
              align-self: center;
            }
            h3{
              align-self: center;
              font-size: 1em;
              font-family: $titulo;
            }
          }
          div.c-texto{
            display: flex;
            align-self: flex-start;
            padding: .5em;
            width: 100%;
            flex-wrap: nowrap;
            font-family: $texto;
            font-size: .9em;
            border-radius: 1em 1em 1em 0;
            background: #ebedee;
            box-shadow: 2px 2px 2px aliceblue;
          }
        }
      }
    }



  }
}
/*web movil medium */
@media  screen  and (min-width:481px) and (max-width:775px )  {
  main.contenido{
    div.c-serie{
      margin: 1em 0;
      display: flex;
      flex-direction: column;
      div.trailer{
        display: flex;
        justify-content: center;
        iframe{
        align-self: center;
        }
      }
      nav.c-navegacion{
        display:inline-flex;
        flex-direction: row;
        font-family: $texto;
        font-size: .9em;
        ul{
          padding: 0;
          margin: 0;
          list-style-type: none;
          overflow: left;
          li{
            float: left;
            color: $enlaces;
            padding: .4em .5em;


            & span::before{
              content: fa-content($fa-var-angle-left);
            }
            a{
              text-decoration: none;
              color: $enlaces;
            }
          }
        }
      }

      article.serie{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 70%;
        padding: 10px 16px;
        // background: #ebedee;
        border-radius: 4px 4px 4px 4px;
        img{
          max-width: 65%;
          align-self: center;
          border-radius: 8px 8px 8px 8px;
        }
        h1{
          text-align: center;
          font-family: $titulo;
          font-size: 1.7em;
        }
        p{
          text-align: left;
          font-family: $texto;
          font-size: .9em;
          span{
            font-weight: bold;
          }
        }
        div.info{
          display: flex;
          flex-direction: row;
          justify-content: center;
          font-size: .9em;

          p{
            display: block;
            padding: 1em;
          }
          span{
            font-weight: bold;
          }
        }
        div.redes{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }

        div.c-puntuacion{
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 1em 0;

          button.thumbup{
            border: 1px solid #d8ded9;
            padding: 8px 16px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;
            margin: 0 1em;


            span::before{
              content: fa-content($fa-var-thumbs-up);
              font-size: 1.5em;

            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
          div.punto{
            border: 1px solid $hover;
            border-radius: 4px 4px 4px 4px;
            padding: 0 16px;
            font-family: $texto;

            cursor: default;
            p{
              font-weight: bold;
            }
          }
          button.thumbdown{
            border: 1px solid #d8ded9;
            padding: 8px 16px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;
            margin: 0 1em;

            span::before{
              content: fa-content($fa-var-thumbs-down);
              font-size: 1.5em;
            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
        }
      }
      div.c-comentar{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 70%;
        div.comentar{
          width: 100%;
          display: flex;
          margin: 1em 0;

          textarea{
            resize: none;
            width: 100%;
            height: 20px;
            border: none;
            border-bottom: 2px solid #d8ded9;
            @include font-title($texto,.8em);
          }
          textarea.activa{
            animation:agrandar 1s;
            height: 100%;
            padding: .8em;
            border-bottom: 2px solid $hover;

          }

        }
        div.c-enviar{
          display: inline-flex;
          justify-content: end;

          button#cancelar{
            border: 1px solid #d8ded9;
            padding: 8px 6px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;
            margin-right: 1em;

            span::before{
              content: fa-content($fa-var-redo-alt);
            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
          button#comment{
            border: 1px solid #d8ded9;
            padding: 8px 6px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;

            span::before{
              content: fa-content($fa-var-paper-plane);
            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
        }
      }

      div.c-comentarios{
        display: flex;
        flex-direction: column;
        margin: 1em auto;
        width: 70%;
        padding: 1em;
        h2{
          font-size: 2em;
          align-self: center;
          font-family: $titulo;
        }
        p{
          align-self: center;
          @include font-title($texto,1.2em);
        }
        div.loading{
          align-self: center;
          animation: girar 2s infinite;
          span.fa-pulse::before{
            content: fa-content($fa-var-spinner);
            font-size: 2em;
          }

        }
        div.c-comentario{
          width: 100%;
          display: flex;
          padding: .5em;
          margin: .8em auto;
          justify-content: center;
          border-radius: 8px 8px 8px 8px;
          div.c-usuario{
            display: flex;
            flex-direction: column;
            padding: .5em;
            img{
              width: 128px;
              border-radius: 50%;
              align-self: center;
            }
            h3{
              align-self: center;
              font-size: 1em;
              font-family: $titulo;
            }
          }
          div.c-texto{
            display: flex;
            align-self: flex-start;
            padding: .5em;
            width: 100%;
            flex-wrap: nowrap;
            @include font-title($texto,.8em);
            border-radius: 1em 1em 1em 0;
            background: #ebedee;
            box-shadow: 2px 2px 2px aliceblue;


          }
        }
      }



    }
  }
}
/* table web */
@media screen and (min-width:776px ) and (max-width:1024px) {
  main.contenido{
    div.c-serie{
      margin: 1em 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div.trailer{
        display: flex;
        justify-content: center;
        iframe{
        align-self: center;
        }
      }
      nav.c-navegacion{
        display:inline-flex;
        flex-direction: row;
        font-family: $texto;
        font-size: .9em;
        ul{
          padding: 0;
          margin: 0;
          list-style-type: none;
          overflow: left;
          li{
            float: left;
            color: $enlaces;
            padding: .4em .5em;


            & span::before{
              content: fa-content($fa-var-angle-left);
            }
            a{
              text-decoration: none;
              color: $enlaces;
            }
          }
        }
      }

      article.serie{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 50%;
        padding: 10px 16px;
        // background: #ebedee;
        border-radius: 4px 4px 4px 4px;
        img{
          max-width: 65%;
          align-self: center;
          border-radius: 8px 8px 8px 8px;
        }
        h1{
          text-align: center;
          font-family: $titulo;
          font-size: 1.8em;
        }
        h2{
          font-family: $titulo;
        align-self: center;
        }
        p{
          text-align: left;
          font-family: $texto;
          font-size: .9em;

        }
        div.info{
          display: flex;
          flex-direction: row;
          justify-content: center;

          p{
            display: block;
            padding: 1em;
          }
          span{
            font-weight: bold;
          }
        }
        div.redes{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
        div.c-puntuacion{
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 1em 0;

          button.thumbup{
            border: 1px solid #d8ded9;
            padding: 8px 16px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;
            margin: 0 1em;

            span::before{
              content: fa-content($fa-var-thumbs-up);
              font-size: 1.5em;

            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
          div.punto{
            border: 1px solid $hover;
            border-radius: 4px 4px 4px 4px;
            padding: 0 16px;
            cursor: default;
            p{
              font-weight: bold;
            }
          }
          button.thumbdown{
            border: 1px solid #d8ded9;
            padding: 8px 16px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;
            margin: 0 1em;

            span::before{
              content: fa-content($fa-var-thumbs-down);
              font-size: 1.5em;

            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }

        }
      }
      div.c-comentar{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 50%;
        div.comentar{
          width: 100%;
          display: flex;
          margin: 1em 0;

          textarea{
            resize: none;
            width: 100%;
            height: 20px;
            border: none;
            border-bottom: 2px solid #d8ded9;
            @include font-title($texto,.8em);
          }
          textarea.activa{
            animation:agrandar 1s;
            height: 100%;
            padding: .8em;
            border-bottom: 2px solid $hover;

          }

        }
        div.c-enviar{
          display: inline-flex;
          justify-content: end;

          button#cancelar{
            border: 1px solid #d8ded9;
            padding: 8px 6px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;
            margin-right: 1em;

            span::before{
              content: fa-content($fa-var-redo-alt);
            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
          button#comment{
            border: 1px solid #d8ded9;
            padding: 8px 6px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;

            span::before{
              content: fa-content($fa-var-paper-plane);
            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
        }
      }

      div.c-comentarios{
        display: flex;
        flex-direction: column;
        margin: 1em auto;
        width: 50%;
        padding: 1em;
        h2{
          font-size: 2em;
          align-self: center;
          font-family: $titulo;
        }
        p{
          align-self: center;
          @include font-title($texto,1.2em);
        }
        div.loading{
          align-self: center;
          animation: girar 2s infinite;
          span.fa-pulse::before{
            content: fa-content($fa-var-spinner);
            font-size: 2em;
          }

        }
        div.c-comentario{
          width: 100%;
          display: flex;
          padding: .5em;
          margin: .8em auto;
          justify-content: center;
          border-radius: 8px 8px 8px 8px;
          div.c-usuario{
            display: flex;
            flex-direction: column;
            padding: .5em;
            img{
              width: 128px;
              border-radius: 50%;
              align-self: center;
            }
            h3{
              align-self: center;
              font-size: 1em;
              font-family: $titulo;
            }
          }
          div.c-texto{
            display: flex;
            align-self: flex-start;
            padding: .5em;
            width: 100%;
            flex-wrap: nowrap;
            border-radius: 1em 1em 1em 0;
            @include font-title($texto,0.8em);
            background: #ebedee;
            box-shadow: 2px 2px 2px aliceblue;
          }
        }
      }
    }


  }
}

/* web_full */
@media screen and (min-width:1025px) {
  main.contenido{
    div.c-serie{
      padding: 1em;
      display: flex;
      flex-direction: column;
      width: 80%;
      iframe{
        align-self: center;
      }
      nav.c-navegacion{
        display:inline-flex;
        flex-direction: row;
        font-family: $texto;
        font-size: 1em;
        ul{
          padding: 0;
          margin: 0;
          list-style-type: none;
          overflow: left;
          li{
            float: left;
            color: $enlaces;
            padding: .4em .5em;


            & span::before{
              content: fa-content($fa-var-angle-left);
            }
            a{
              text-decoration: none;
              color: $enlaces;
            }
          }
        }
      }

      article.serie{
        display: flex;
        flex-direction: column;
        padding: 10px 16px;
        align-self: center;
        width: 50%;
        // background: #ebedee;
        border-radius: 8px 8px 8px 8px;
        div.trailer{
          display: flex;
          justify-content: center;
          iframe{
          align-self: center;
          }
        }
        img{
          max-width: 50%;
          align-self: center;
          border-radius: 8px 8px 8px 8px;
        }
        h1{
          text-align: center;
          font-family: $titulo;
        }
        p{
          text-align: left;
          font-family: $texto;
          font-size: .9em;

        }
        div.info{
          display: flex;
          flex-direction: row;
          justify-content: center;
          p{
            display: block;
            padding: 1em;
          }
          span{
            font-weight: bold;
          }
        }
        div.redes{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }

        div.c-puntuacion{
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 1em 0;

          button.thumbup{
            border: 1px solid #d8ded9;
            padding: 8px 16px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;
            margin: 0 1em;

            span::before{
              content: fa-content($fa-var-thumbs-up);
              font-size: 1.5em;

            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
          div.punto{
            border: 1px solid $hover;
            border-radius: 4px 4px 4px 4px;
            padding: 0 16px;
            cursor: default;

            p{
              font-weight: bold;
            }
          }
          button.thumbdown{
            border: 1px solid #d8ded9;
            padding: 8px 16px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;
            margin: 0 1em;

            span::before{
              content: fa-content($fa-var-thumbs-down);
              font-size: 1.5em;

            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
        }
      }
      div.c-comentar{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 50%;
        div.comentar{
          width: 100%;
          display: flex;
          margin: 1em 0;

          textarea{
            resize: none;
            width: 100%;
            height: 20px;
            border: none;
            border-bottom: 2px solid #d8ded9;
            @include font-title($texto,.8em);
          }
          textarea.activa{
            animation:agrandar 1s;
            height: 100%;
            padding: .8em;
            border-bottom: 2px solid $hover;

          }

        }
        div.c-enviar{
          display: inline-flex;
          justify-content: end;

          button#cancelar{
            border: 1px solid #d8ded9;
            padding: 8px 6px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;
            margin-right: 1em;


            span::before{
              content: fa-content($fa-var-redo-alt);            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
          button#comment{
            border: 1px solid #d8ded9;
            padding: 8px 6px;
            background: #e4e4e4;
            border-radius: 4px 4px 4px 4px;

            span::before{
              content: fa-content($fa-var-paper-plane);
            }
            &:hover{
              cursor: pointer;
              background: #ededed;
            }
          }
        }
      }

      div.c-comentarios{
        display: flex;
        flex-direction: column;
        margin: 1em auto;
        width: 50%;
        padding: 1em;
        h2{
          font-size: 2em;
          align-self: center;
          font-family: $titulo;
        }
        p{
          align-self: center;
          @include font-title($texto,1.2em);
        }
        div.loading{
          align-self: center;
          animation: girar 2s infinite;
          span.fa-pulse::before{
            content: fa-content($fa-var-spinner);
            font-size: 2em;
          }

        }
        div.c-comentario{
          width: 100%;
          display: flex;
          padding: .5em;
          margin: .8em auto;
          justify-content: center;
          border-radius: 8px 8px 8px 8px;
          div.c-usuario{
            display: flex;
            flex-direction: column;
            padding: .5em;
            img{
              width: 128px;
              border-radius: 50%;
              align-self: center;
            }
            h3{
              align-self: center;
              font-size: 1em;
              font-family: $titulo;
            }
          }
          div.c-texto{
            display: flex;
            align-self: flex-start;
            padding: .5em;
            width: 100%;
            flex-wrap: nowrap;
            border-radius: 1em 1em 1em 0;
            @include font-title($texto,.8em);
            background: #ebedee;
            box-shadow: 2px 2px 2px aliceblue;


          }
        }
      }
    }


  }
}
